<% if can? :index, Refund %>
  <li class = "<%= action_name == 'index' ? 'active':'' %>">
    <%= link_to(raw("<i class='icon-list-alt'></i><span> Rembolsos</span>"),refunds_path) %>
  </li>
<% end %>

<% if can? :create, Refund %>
  <li class = "<%=  action_name == 'new' ? 'active':'' %>">
    <%= link_to(raw("<i class='icon-pencil'></i><span> Registrar rembolso </span>"),new_refund_path) %>
  </li>
<% end %>

<% if can? :create, Refund %>
  <li class = "<%=  action_name == 'index' ? 'active':'' %>">
    <%= link_to(raw("<i class='icon-filter'></i><span> Filtrar Rembolsos </span>"), refunds_path) %>
  </li>
<% end %>
