<legend>Rembolso <%= @refund.code %></legend>
<div class="well"> 
	<div class="dl-horizontal">
		<p>
			<b>Fecha de depósito:  </b><%= l @refund.deposit_date, :format => :long %>
		</p>
		<p>
			<b>Número de comprobante:  </b><%= @refund.code  %>
		</p>
		<p>
			<b>Proyecto/servicio:  </b><%= @refund.job.name if !@refund.job.nil? %>
		</p>

		<p>
			<b>Cantidad:  </b><%= number_to_currency(@refund.amount) if @refund.amount %>
		</p>
	</div>
</div>
<p>
<%= link_to 'Modificar', edit_refund_path(@refund), :class => "btn btn-success" %> | <%= link_to_function 'Asignar rembolso a gastos', "alert('entra')", :class => "btn btn-info" %>
</p>
<hr />
<p>
Elige un proyecto: <%= select_tag( "job_id",options_from_collection_for_select(Job.where("status_id != ?",4), "id","name"), :include_blank => true) %>
</p>
<div class="well">
<legend>Gastos</legend>
<table id="expenses_table" class="table table-condensed table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>X</th>
      <th>#Ref</th>
      <th>Fecha</th>
      <th>Usuario</th>
      <th>Trabajo</th>
      <th>Tipo</th>
      <th>Concepto</th>
      <th>SubTotal</th>
      <th>IVA</th>
      <th>Total</th>
    </tr>
  </thead>
  <% Expense.all.each do |expense| %>
  <tr>
  	<td>
  		<%= check_box_tag(:refund_id, @refund.id, false, :data => { :remote => true, :url => url_for(:controller => "expenses", 
                                      	:action => "update",
                                      	:id => expense.id, 
                                      	"expense[refund_id]"=>@refund.id), :method => :put}) %>
      </td>
      <td><%= expense.id %></td>
      <td><%= expense.date %></td>
      <td><%= expense.user.fullname %></td>
      <td><%= expense.job.name if expense.job %></td>
      <td><%= expense.expense_category.name if expense.expense_category %></td>
      <td><%= expense.expense_type.name if expense.expense_type %></td>
      <td><%= number_to_currency expense.subtotal %></td>
      <td><%= number_to_currency expense.iva %></td>
      <td><%= number_to_currency expense.total %></td>
  </tr>
  <% end %>


  </table>


</div>
