<legend>Rembolso <%= @refund.code %></legend>
<div class="well"> 
	<div class="dl-horizontal">
		<p>
			<b>Fecha de depósito:  </b><%= l @refund.deposit_date, :format => :long %>
		</p>
		<p>
			<b>Número de comprobante:  </b><%= @refund.code  %>
		</p>
		<p>
			<b>Proyecto/servicio:  </b><%= @refund.job.name if !@refund.job.nil? %>
		</p>

		<p>
			<b>Cantidad:  </b><%= number_to_currency(@refund.amount) if @refund.amount %>
		</p>
	</div>
</div>
<p>
<%= link_to 'Modificar', edit_refund_path(@refund), :class => "btn btn-success" %> | <%= link_to_function 'Asignar rembolso a gastos', "alert('entra')", :class => "btn btn-info" %>
</p>
<hr />
<p>
Elige un proyecto: <%= select_tag( "job_id",options_from_collection_for_select(Job.where("status_id != ?",4), "id","name"), {:include_blank => true, :data => { :remote => true, :url => find_expenses_path(:refund_id => @refund.id)}}) %>
</p>

<div id="expenses_table_container">
</div>





<script>
$('.checkable').on('change', 
function() {
    expense_id = $(this).val();

    if ( $(this).is(':checked') ){
     refund_id = <%= @refund.id %>;
     $("#record_"+expense_id).addClass("success");
    }
    else{
      refund_id = "";
      $("#record_"+expense_id).removeClass("success");
    }
  
    $("#expense_"+expense_id).val(refund_id)
    $(this).parents('form:first').submit();
});
</script>

</tbody>