<legend>Gastos</legend>
<% if @refund_id.blank? %>
<% end %>
<table id="expenses_table" class="table table-condensed table-hover table-bordered">
  <thead>
    <tr>
      <% if !@refund_id.blank? %>
        <th>No.Factura</th>
      <% end %>
      <th>#Ref</th>
      <th>Num.Rembolso</th>
      <th>Fecha</th>
      <% if current_user.admin? %>
        <th>Usuario</th>
      <% end %>
      <th>Trabajo</th>
      <th>Tipo</th>
      <th>Concepto</th>
      <th>SubTotal</th>
      <th>IVA</th>
      <th>Total</th>
      <% if @refund_id.blank? %>
        <th>USD</th>
      <% end %>

    </tr>
  </thead>
  <tbody>

  <% total_sum = []%>
  <% @expenses.each do |expense| %>
  <% if @refund_id.blank? %>
    <tr id="record_<%= expense.id %>" class="<%= (expense.refund_id.nil? ? 'warning' : 'success') %>">
  <% else %>
    <tr id="record_<%= expense.id %>" class="<%= (expense.refund_id.to_i == @refund_id. to_i ? 'success' : '') %>">
  <% end %>
    <% if !@refund_id.blank? %>  
    	<td>
        <%= form_for expense, :remote => true, :url => url_for(:controller => "expenses", 
                                          :action => "update",
                                          :id => expense.id, 
                                          ), :method => :put do |f| %>
        <%= f.hidden_field :refund_id, :id => "expense_#{expense.id}" %>
       
    		<%= check_box_tag(:refund_check_id, expense.id, (expense.refund_id.to_i == @refund_id.to_i ? true : false), :class => "checkable") %>
        
        <%= f.text_field :invoice_paid, :id => "expense_invoice_paid_#{expense.id}", :class => "input-small" %><br />
        <%= button_tag "Asignar", :class => "btn btn-success btn-small", :type => "submit", :disable_with => "Asignando..." %> <%= image_tag "spinner.gif", :id => "spinner", :style => "display:none" %><span id="response"></i></span>
        </td>
      <% end %>
    <% end %>
      <td><%= link_to expense.id, expense_path(expense.id), :class => "btn btn-primary" %></td>
      <td>
        <%= link_to(expense.refund.code,refund_path(expense.refund)) if !expense.refund.nil? %>
      </td>
      <td><%= l expense.date %></td>
      <% if current_user.admin? %>
        <td><%= expense.user.fullname %></td>
      <% end %>
      <td><%= expense.job.name if expense.job %></td>
      <td><%= expense.expense_category.name if expense.expense_category %></td>
      <td><%= expense.expense_type.name if expense.expense_type %></td>
      <td><%= number_to_currency expense.subtotal %></td>
      <td><%= number_to_currency expense.iva %></td>
      <td><%= number_to_currency expense.total %></td>
      <% total_sum << expense.total %>
      <% if @refund_id.blank? %>
        <td><%= number_to_currency expense.usd_aop %></td>
      <% end %>
  </tr>
  <% end %>
  </table>

  <span>
    <h2>Total = <%= number_to_currency total_sum.inject{|sum,x| sum + x } %></h2>
  </span>

<script>
  $('.checkable').on('change', 
function() {
    expense_id = $(this).val();
    if ( $(this).is(':checked') ){
     refund_id = <%= @refund_id %>;
     $("#record_"+expense_id).addClass("success");
    }
    else{
      refund_id = "";
      $("#record_"+expense_id).removeClass("success");
    }
  
    $("#expense_"+expense_id).val(refund_id)
   


});
  </script>