<div class="well"> 
<%= form_for @expense, :html => {:multipart => true, :class => 'form-horizontal' } do |f| %>

  <% if current_user.admin? %>
    <div class="control-group">
      <%= f.label :refund_voucher, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :refund_voucher, :class => 'input-small' %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <div class="input-append date" data-date="<%= l Date.today %>" data-date-format="dd/mm/yyyy" data-date-language = "es">
        <%= f.text_field :date, :class => "input-small", :size => "9", :value => "#{l Date.today}" %>
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expense_category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select( :expense_category_id, ExpenseCategory .all.collect {|p| [ p.name , p.id ] }, { :include_blank => 'Selecciona un tipo de gasto' } )%>
    </div>
  </div>

  <div class="control-group" id="job_control_group">
    <%= f.label :job_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select( :job_id, Job.where("status_id != ?",4).collect {|p| [ p.name , p.id ] }, { :include_blank => 'Selecciona un proyecto' } )%>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :expense_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select( :expense_type_id, ExpenseType .all.collect {|p| [ p.name , p.id ] }, { :include_blank => 'Selecciona un concepto' } )%> <%= link_to (image_tag "add.png"),"#", :data => {"toggle" => "modal", "target" => "#addExpenseType"}  %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :expense_invoice, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :expense_invoice, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subtotal, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :subtotal, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :iva, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :iva, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_taxes, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :other_taxes, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :total, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tip, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :tip, :class => 'input-small' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :usd_aop, :class => 'control-label' %>
    <div class="controls">
      <span id="usd"></span>
    </div>
  </div>

   <div class="control-group" id:="photo3">
  <%= f.label :desc, :class => 'control-label' %>
  <div class="controls">
   <%= f.text_area :desc, :rows => "3" %>
  </div>
</div>

  <div class="control-group">
    <%= f.label :file1, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :file1, :class => 'file_field'%>
    </div>
  </div>


            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle collapsed btn btn-info" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                      <i class='icon-chevron-down'></i> Más fotos
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
                    <div class="accordion-inner">
                      <div class="control-group">
                        <%= f.label :file2, :class => 'control-label' %>
                        <div class="controls">
                         <%= f.file_field :file2, :class => 'file_field'%>
                       </div>
                     </div>

                     <div class="control-group" id:="photo2">
                      <%= f.label :file3, :class => 'control-label' %>
                        <div class="controls">
                          <%= f.file_field :file3, :class => 'file_field'%>
                        </div>
                     </div>
                    </div>
                  </div>
                </div>
              </div>

  <div class="form-actions">
  <%= f.submit nil, :class => "btn btn-success btn-large" %>
  </div>
<% end %>
</div>


<div id="addExpenseType" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="myModalLabel">Agregar nuevo concepto</h4>
  </div>
  <%= form_for @expense_type, :remote => true, :format => :js, :html => {:class => 'form-horizontal well'} do |exp_typ| %>
  
       <div class="control-group">
            <%= exp_typ.label :name, :class => "control-label" %>
            <div class="controls">
            <%= exp_typ.text_field :name %>
            </div>
        </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <%= exp_typ.submit "Guardar", :class => "btn btn-primary" %>
  </div>
  <% end %>

</div>


<script type="text/javascript">
  $(document).ready(function(){
    
    $('.date').datepicker({
     "autoclose": true
    });

    $("#expense_expense_category_id").change(function() {
    val_expense_cat = $("#expense_expense_category_id").val();
    if (val_expense_cat == 3){
      $( "#job_control_group" ).hide();
      $('#expense_job_id').prop('selectedIndex',0);
    }
    else
      $( "#job_control_group" ).show();
  })

    $("#more_photos").click(function(){
      $(this).closest("div").next(".class2").toggle();
    });

    $('#expense_total').bind('input propertychange', function() {
    var total  = this.value;
    
    if ($.isNumeric( total ))
      $("#usd").text((total*13) + " USD");
    });


  })
</script>
