  <legend>Gastos</legend>
  <table class="table table-condensed table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sortable "id","#Ref" %></th>
      <th><%= sortable "date", "Fecha" %></th>
      <% if current_user.admin? %>
        <th><%= sortable "user_id", "Usuario" %></th>
      <% end %>
      <th><%= sortable "job_id","Trabajo" %></th>
      <th><%= sortable "expense_category_id", "Tipo" %></th>
      <th><%= sortable "expense_type_id", "Concepto" %></th>
      <th><%= sortable "total", "Total" %></th>
      <th><%= sortable "usd_aop", "USD" %></th>
      
      <th>Archivos</th>
      <th colspan="3">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.id %></td>
        <td><%= l expense.date %></td>
        <% if current_user.admin? %>
          <td><%= expense.user.fullname %></td>
        <% end %>
        <td><%= expense.job.name if !expense.job.nil? %></td>
        <td><%= expense.expense_category.name if !expense.expense_category.nil? %></td>
        <td><%= expense.expense_type.name if !expense.expense_type.nil? %></td>
        <td><%= number_with_precision(expense.total, :precision => 2) if expense.total %></td>
        <td><%= number_with_precision(expense.usd_aop, :precision => 2) if expense.usd_aop %></td>
        <td>
        <% if !expense.file1.nil? %>
        <%= link_to 'Descargar Archivo1',   expense.file1_url if  expense.file1_url  %>
         <% end %>
         <br>
        <% if !expense.file2.nil? %>     
       <%= link_to 'Descargar Archivo2',   expense.file2_url if  expense.file2_url  %>
       <% end %>
         <br>
       <% if !expense.file3.nil? %>     
       <%= link_to 'Descargar Archivo3',   expense.file3_url if  expense.file2_url  %>
       <% end %>
        </td>
        <td><%= link_to 'Detalles', expense, :class => "btn btn-primary btn-small" %></td>
        <td><%= link_to 'Modificar', edit_expense_path(expense), :class => "btn btn-success btn-small" %></td>
        <td><%= link_to 'Eliminar', expense, :confirm => '¿Estas seguro?', :method => :delete, :class => "btn btn-danger btn-small" %></td>
       </tr>
    <% end %>
  </tbody>
</table>
      
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
